.footerContainer {
  padding: 2rem;
  background: #9E4784;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerText {
  color: #210062 ;
  font-size: 1rem;
}

@media(max-width: 765px){
  .footerText {
    text-align: center;
  }
}