.headerContainer {
  padding: 6rem;
  background: #9E4784;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem
}

.headerTitle {
  color: #210062;
  font-size: 4rem;
}

.headerSubtitle {
  color: #ffff;
  font-size: 1.6rem;
  font-weight: lighter;
}

.headerImage {
  width: 30%;
}

@media(max-width: 765px) {
  .headerImage {
    width: 100%;
  }
}